
.box {
  display: flex;

  border-color: lightslategray;
  border-style: solid;
  border-width: 2px;
  border-radius: 20%;
  height: auto;
  width: auto;
  text-align: center;
  //margin: 10px;

  &:hover{
    //background-color: aquamarine;
  }



}

.selected {
  background-color: lightgreen;
}

.notme {
  background-color: darkgrey;
}
