.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1px;
    grid-auto-columns: minmax(50px, 50px);
}

.box {
    background-color: cornflowerblue;
    height: 50px;
    width: 50px;
}
